Repository flutter-mapbox-gl/maps, pull requests merged in 2019-04, with the labels that each got.

#52 [flutter] - add supported API table to readme
  README.md
Labels: flutter

#59 Issue54 custom styles
  ios/Classes/MapboxMapController.swift
  ios/Classes/MapboxMapStyle.swift
Labels: ios

#66 Update README.md
  README.md
Labels: android

#58 Invert iOS compassView.isHidden logic
  ios/Classes/MapboxMapController.swift
Labels: ios

#63 specify swift version
  example/ios/Runner.xcodeproj/project.pbxproj
  ios/mapbox_gl.podspec
Labels: ios
