Repository flutter-mapbox-gl/maps, pull requests merged in 2019-02, with the labels that each got.

#5 Gitignore development token
  .gitignore
  example/android/.gitignore
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/values/developer-config.xml
Labels: enhancement

#9 Migrate project from https://github.com/AmudAnan/mapbox_from_…
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/FlutterMapView.java
  android/src/main/java/com/mapbox/mapboxgl/MapViewFactory.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxGlPlugin.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapFactory.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapsPlugin.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerController.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/OnCameraMoveListener.java
  android/src/main/java/com/mapbox/mapboxgl/OnInfoWindowTappedListener.java
  android/src/main/java/com/mapbox/mapboxgl/OnMarkerTappedListener.java
  example/android/app/src/main/res/values/developer-config.xml
  example/lib/animate_camera.dart
  example/lib/main.dart
  example/lib/map_ui.dart
  example/lib/move_camera.dart
  example/lib/page.dart
  example/lib/place_marker.dart
  example/lib/scrolling_map.dart
  lib/mapbox_gl.dart
  lib/src/bitmap.dart
  lib/src/callbacks.dart
  lib/src/camera.dart
  lib/src/controller.dart
  lib/src/flutter_mapbox_view.dart
  lib/src/location.dart
  lib/src/mapbox_map.dart
  lib/src/marker.dart
  lib/src/models.dart
  lib/src/ui.dart
  pubspec.yaml
Labels: android, enhancement, example, flutter

#10 use TextureView as render surface
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
Labels: android, bug

#12 Disable crashing attribution
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
Labels: android, crash

#15 Update Mapbox Maps SDK for Android to v7.1.1
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android

#19 Add location, styleString(URL/JSON), onMapClick, queryRenderedFeatures
  .gitignore
  android/.settings/org.eclipse.buildship.core.prefs
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  example/lib/map_ui.dart
  lib/mapbox_gl.dart
  lib/src/controller.dart
  lib/src/mapbox_map.dart
  lib/src/ui.dart
Labels: android, flutter
