Repository flutter-mapbox-gl/maps, pull requests merged in 2019-12, with the labels that each got.

#123 Location render mode, Get last location
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  example/lib/map_ui.dart
  lib/src/controller.dart
  lib/src/mapbox_map.dart
  lib/src/ui.dart
Labels: android

#139 Only show user location if enabled
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android, bug

#135 Cache management
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
Labels: android, flutter, ios

#149 Implemented updateMyLocationEnabled for Android
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android

#151 Fixed style callback when channel is nullable
  ios/Classes/MapboxMapController.swift
Labels: ios

#134 Implement onMapClick ios.
  ios/Classes/MapboxMapController.swift
Labels: ios

#124 Implement iOS annotation extension (rework)
  README.md
  example/ios/Runner.xcodeproj/project.pbxproj
  example/lib/place_symbol.dart
  ios/Classes/Constants.swift
  ios/Classes/Convert.swift
  ios/Classes/Extensions.swift
  ios/Classes/MapboxMapController.swift
  ios/mapbox_gl.podspec
Labels: ios

#157 [flutter] release 0.5.0
  CHANGELOG.md
  pubspec.yaml
Labels: flutter
