Repository flutter-mapbox-gl/maps, pull requests merged in 2019-03, with the labels that each got.

#25 Add symbol API
  android/.gitignore
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapFactory.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapsPlugin.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerController.java
  android/src/main/java/com/mapbox/mapboxgl/MarkerOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/OnSymbolTappedListener.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolController.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolOptionsSink.java
  example/android/app/build.gradle
  example/lib/main.dart
  example/lib/place_marker.dart
  example/lib/place_symbol.dart
  example/lib/scrolling_map.dart
  lib/mapbox_gl.dart
  lib/src/controller.dart
  lib/src/marker.dart
  lib/src/symbol.dart
Labels: android, flutter

#37 Add circle
  android/src/main/java/com/mapbox/mapboxgl/CircleBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/CircleController.java
  android/src/main/java/com/mapbox/mapboxgl/CircleOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/OnCircleTappedListener.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolController.java
  example/lib/main.dart
  example/lib/place_circle.dart
  lib/mapbox_gl.dart
  lib/src/circle.dart
  lib/src/controller.dart
Labels: android, flutter

#30 Handled methods camera#move and camera#animate
  README.md
  ios/Classes/Convert.swift
  ios/Classes/MapboxMapController.swift
Labels: enhancement, ios

#48 Upgrade to Android X
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/android/app/build.gradle
  example/android/gradle.properties
Labels: android

#33 Add line annotations
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/LineBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/LineController.java
  android/src/main/java/com/mapbox/mapboxgl/LineOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/OnLineTappedListener.java
  example/lib/line.dart
  example/lib/main.dart
  example/lib/scrolling_map.dart
  lib/mapbox_gl.dart
  lib/src/controller.dart
  lib/src/line.dart
  lib/src/ui.dart
Labels: android, flutter
