Repository flutter-mapbox-gl/maps, pull requests merged in 2019-11, with the labels that each got.

#115 Allow offline package side-loading from absolute path.
  android/src/main/java/com/mapbox/mapboxgl/GlobalMethodHandler.java
  ios/Classes/SwiftMapboxGlFlutterPlugin.swift
Labels: android, ios

#121 Added logo, compass and attribution button layout margins
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  ios/Classes/Convert.swift
  ios/Classes/MapboxMapController.swift
  ios/Classes/MapboxMapOptionsSink.swift
  ios/mapbox_gl.podspec
  lib/src/mapbox_map.dart
Labels: flutter

#120 Limit max fps of location component
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android

#117 Improve missing access token error message.
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android
