Repository flutter-mapbox-gl/maps, pull requests merged in 2020-06, with the labels that each got.

#206 Add icon/text allow overlap configuration
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/place_symbol.dart
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
Labels: android, flutter, ios

#281 Add line#getGeometry and symbol#getGeometry
  .github/workflows/flutter_ci.yml
  android/src/main/java/com/mapbox/mapboxgl/LineController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolController.java
  example/android/app/src/debug/AndroidManifest.xml
  example/lib/line.dart
  example/lib/place_symbol.dart
  example/pubspec.yaml
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
Labels: android, ios

#306 Set the map style to a local asset in iOS
  README.md
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/assets/style.json
  example/lib/map_ui.dart
  example/pubspec.yaml
  ios/Classes/MapboxMapController.swift
Labels: ios

#279 Batch create, batch delete for symbols
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolController.java
  example/lib/place_symbol.dart
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/feature_manager/feature_manager.dart
  mapbox_gl_web/lib/src/feature_manager/symbol_manager.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: enhancement

#321 Allow setting access token in Flutter
  README.md
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapFactory.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/values/developer-config.xml
  example/ios/Runner/Info.plist
  example/lib/animate_camera.dart
  example/lib/full_map.dart
  example/lib/line.dart
  example/lib/main.dart
  example/lib/map_ui.dart
  example/lib/move_camera.dart
  example/lib/place_circle.dart
  example/lib/place_symbol.dart
  example/lib/scrolling_map.dart
  example/web/index.html
  ios/Classes/MapboxMapController.swift
  lib/src/mapbox_map.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: android, ios, web

#325 [iOS] Fire long click listener earlier
  ios/Classes/MapboxMapController.swift
Labels: ios

#228 Support "Compass" location render mode
  ios/Classes/Convert.swift
  ios/Classes/Enums.swift
  ios/Classes/MapboxMapController.swift
  ios/Classes/MapboxMapOptionsSink.swift
Labels: ios

#340 Minor documentation updates
  lib/src/mapbox_map.dart
Labels: documentation
