Repository flutter-mapbox-gl/maps, pull requests merged in 2020-10, with the labels that each got.

#49 Add Fill API support
  README.md
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/FillBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/FillController.java
  android/src/main/java/com/mapbox/mapboxgl/FillOptionsSink.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/OnFillTappedListener.java
  example/assets/fill/cat_silhouette_pattern.png
  example/ios/Podfile
  example/lib/main.dart
  example/lib/map_ui.dart
  example/lib/place_fill.dart
  example/pubspec.yaml
  ios/Classes/Convert.swift
  ios/Classes/Extensions.swift
  ios/Classes/MapboxMapController.swift
  lib/mapbox_gl.dart
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/fill.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_platform_interface/pubspec.yaml
Labels: android, flutter

#237 Listen to OnUserLocationUpdated to provide user location to app
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/map_ui.dart
  ios/Classes/Extensions.swift
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  lib/src/mapbox_map.dart
  mapbox_gl_platform_interface/lib/src/location.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: android, ios, web

#359 Add support for custom font stack in symbol options
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolController.java
  android/src/main/java/com/mapbox/mapboxgl/SymbolOptionsSink.java
  example/lib/place_symbol.dart
  ios/Classes/Convert.swift
  mapbox_gl_platform_interface/lib/src/symbol.dart
Labels: needs-web

#370 fix memory leak caused by strong self reference
  ios/Classes/MapboxMapController.swift
Labels: ios

#416 Get meters per pixel at latitude
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/map_ui.dart
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/mapbox_gl_web.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
  pubspec.lock
Labels: android, ios, web
