Repository flutter-mapbox-gl/maps, pull requests merged in 2020-01, with the labels that each got.

#162 Invoke all `camera#` channel methods from iOS MGLMapViewDelegate
  ios/Classes/MapboxMapController.swift
Labels: ios

#159 iOS Bug + Compass Gravity/Position
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapBuilder.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapOptionsSink.java
  ios/Classes/Convert.swift
  ios/Classes/MapboxMapController.swift
  ios/Classes/MapboxMapOptionsSink.swift
  lib/src/mapbox_map.dart
  lib/src/ui.dart
Labels: android, flutter, ios

#152 Add getVisibleRegion()/ moveCamera() and animateCamera() now return after completion (Android)
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/animate_camera.dart
  example/lib/map_ui.dart
  lib/src/controller.dart
Labels: android, needs iOS

#144 Implement setTelemetryEnabled for Android (Fix #143)
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/ios/Runner/Info.plist
  example/lib/map_ui.dart
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
Labels: android, ios

#146 Implement setting map language on Android (Fix #145)
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
Labels: android, ios

#171 Fix lint analysis hints and minor Readme improvements
  README.md
  example/lib/line.dart
  example/lib/map_ui.dart
  example/lib/place_circle.dart
  example/lib/place_symbol.dart
  lib/src/bitmap.dart
  lib/src/controller.dart
Labels: documentation

#172 Add CI
  .github/workflows/flutter_ci.yml
Labels: enhancement

#202 [example] remove invalid access token
  example/android/app/src/main/res/values/developer-config.xml
Labels: android, example
