Repository flutter-mapbox-gl/maps, pull requests merged in 2020-02, with the labels that each got.

#222 Change ios annotation priority
  ios/Classes/MapboxMapController.swift
Labels: ios

#216 Returned a nil result so the future completes.
  ios/Classes/MapboxMapController.swift
Labels: ios

#176 Fix missing location indicator on iOS
  ios/Classes/MapboxMapController.swift
Labels: ios

#201 [example] add full page map example
  example/lib/full_map.dart
  example/lib/main.dart
Labels: example, flutter

#214 Provide `onMapIdle` callback
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  lib/src/mapbox_map.dart
Labels: flutter, ios, needs Android

#215 Support setting map's content insets
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
Labels: flutter, ios, needs Android
