Repository flutter-mapbox-gl/maps, pull requests merged in 2020-05, with the labels that each got.

#269 Implement addImage() to style
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/place_symbol.dart
  example/pubspec.yaml
  ios/Classes/MapboxMapController.swift
  lib/mapbox_gl.dart
  lib/src/controller.dart
Labels: android, enhancement, ios

#280 Add First-Class Support For Listening to `onCameraIdle` events
  example/lib/move_camera.dart
  lib/src/controller.dart
  lib/src/mapbox_map.dart
Labels: enhancement

#285 [fix] Change default MyLocationTrackingMode to None
  README.md
  lib/src/mapbox_map.dart
Labels: flutter

#268 [iOS] implement long click
  ios/Classes/MapboxMapController.swift
Labels: ios
