Repository flutter-mapbox-gl/maps, pull requests merged in 2020-09, with the labels that each got.

#388 Fix data parameter for addLine and addCircle
  lib/src/controller.dart
Labels: flutter

#382 Split padding values in CameraUpdate.newLatLngBounds()
  CHANGELOG.md
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  example/lib/animate_camera.dart
  example/lib/move_camera.dart
  ios/Classes/Convert.swift
  mapbox_gl_platform_interface/lib/src/camera.dart
  mapbox_gl_web/lib/src/convert.dart
Labels: android, ios, web

#381 [Android] Upgrade annotation plugin to v0.9
  android/build.gradle
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android

#363 web: ignore myLocationTrackingMode if myLocationEnabled is false
  lib/src/mapbox_map.dart
  mapbox_gl_web/lib/src/convert.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: web

#380 Add methods to access projection
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/map_ui.dart
  ios/Classes/MapboxMapController.swift
  lib/mapbox_gl.dart
  lib/src/bitmap.dart
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/location.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: android, ios, web
