Repository flutter-mapbox-gl/maps, pull requests merged in 2021-02, with the labels that each got.

#495 Fix iOS implementation of map#toLatLng
  ios/Classes/MapboxMapController.swift
Labels: bug, ios

#500 Update tracked camera position in camera#onIdle
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  ios/Classes/MapboxMapController.swift
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: bug

#512 Fix: style annotation is not deselected
  ios/Classes/MapboxMapController.swift
Labels: bug, ios

#522 Add heading to UserLocation and expose UserLocation type
  ios/Classes/Extensions.swift
  ios/Classes/MapboxMapController.swift
  lib/mapbox_gl.dart
  mapbox_gl_platform_interface/lib/src/location.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
Labels: ios, needs Android

#530 [offline][android] updateOfflineRegionMetadata
  android/src/main/java/com/mapbox/mapboxgl/GlobalMethodHandler.java
  android/src/main/java/com/mapbox/mapboxgl/OfflineManagerUtils.java
  android/src/main/java/com/mapbox/mapboxgl/models/OfflineRegionData.java
  lib/src/global.dart
Labels: android, needs iOS

#532 [offline][android] Merge offline regions
  android/src/main/java/com/mapbox/mapboxgl/GlobalMethodHandler.java
  android/src/main/java/com/mapbox/mapboxgl/OfflineManagerUtils.java
  lib/src/global.dart
Labels: android, needs iOS

#545 Update OfflineRegion/OfflineRegionDefinition interfaces, synchronize with iOS and Android
  android/src/main/java/com/mapbox/mapboxgl/GlobalMethodHandler.java
  android/src/main/java/com/mapbox/mapboxgl/OfflineManagerUtils.java
  android/src/main/java/com/mapbox/mapboxgl/models/OfflineRegionData.java
  example/lib/offline_region_map.dart
  example/lib/offline_regions.dart
  ios/Classes/OfflineManagerUtils.swift
  ios/Classes/OfflinePackDownloadManager.swift
  ios/Classes/OfflineRegion.swift
  ios/Classes/OfflineRegionData.swift
  ios/Classes/OfflineRegionDefinition.swift
  ios/Classes/SwiftMapboxGlFlutterPlugin.swift
  lib/src/global.dart
  lib/src/offline_region.dart
Labels: android, ios
