Repository flutter-mapbox-gl/maps, pull requests merged in 2021-11, with the labels that each got.

#729 Enable `onMapIdle` callback for android
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
Labels: android

#740 Add documentation for setMapLanguage()
  lib/src/controller.dart
Labels: documentation

#723 Add support for (geojson) layers
  android/src/main/java/com/mapbox/mapboxgl/Convert.java
  android/src/main/java/com/mapbox/mapboxgl/LayerPropertyConverter.java
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/ios/Flutter/.last_build_id
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Runner.xcodeproj/project.pbxproj
  example/lib/layer.dart
  example/lib/main.dart
  example/lib/place_source.dart
  ios/Classes/LayerPropertyConverter.swift
  ios/Classes/MapboxMapController.swift
  lib/mapbox_gl.dart
  lib/src/color_tools.dart
  lib/src/controller.dart
  lib/src/layer_expressions.dart
  lib/src/layer_properties.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/mapbox_gl_web.dart
  mapbox_gl_web/lib/src/layer_tools.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
  pubspec.lock
  scripts/input/style.json
  scripts/lib/generate.dart
  scripts/pubspec.lock
  scripts/pubspec.yaml
  scripts/templates/LayerPropertyConverter.java.template
  scripts/templates/LayerPropertyConverter.swift.template
  scripts/templates/layer_expressions.dart.template
  scripts/templates/layer_properties.dart.template
  scripts/templates/layer_tools.dart.template
Labels: android, ios, web

#748 fixed issue with annotation click order
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  example/lib/click_annotations.dart
  example/lib/main.dart
Labels: android

#765 fixed layer based feature selection
  android/src/main/java/com/mapbox/mapboxgl/MapboxMapController.java
  ios/Classes/MapboxMapController.swift
Labels: android, ios

#785 Fix web issues
  example/web/index.html
  lib/src/controller.dart
  mapbox_gl_platform_interface/lib/src/mapbox_gl_platform_interface.dart
  mapbox_gl_platform_interface/lib/src/method_channel_mapbox_gl.dart
  mapbox_gl_web/lib/src/mapbox_map_controller.dart
  pubspec.lock
Labels: bug, web

#787 fixed more issues with on style loaded not being called
  ios/Classes/MapboxMapController.swift
Labels: bug, ios

#789 updated settings gradle to new version
  example/android/settings.gradle
Labels: bug, android
